/* Animation d'apparition des bugs */
.bug-appear {
  animation: bug-appear 0.3s ease-out forwards;
}

/* Animation de pulsation des bugs */
.bug-text {
  display: inline-block;
  animation: bug-pulse 2s infinite;
}

@keyframes bug-appear {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes bug-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Effet de flottement aléatoire pour les bugs */
.bug-appear:nth-child(odd) .bug-text {
  animation: bug-pulse 2s infinite, float-y 3s ease-in-out infinite;
}

.bug-appear:nth-child(even) .bug-text {
  animation: bug-pulse 2s infinite, float-x 4s ease-in-out infinite;
}

@keyframes float-y {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-5px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes float-x {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(5px) scale(1.1);
  }
  100% {
    transform: translateX(0) scale(1);
  }
} 